/*=====================================================
    
====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Jacques+Francois&family=Train+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: #000;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-header{
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

/*=====================================================
    Header
====================================================*/

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.header-menu img{
    width: 100%;
}

.header-menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.header-menu ul li:not(:last-of-type) {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #000;
}

.header-menu ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-decoration: inherit;
}

.header-menu ul li a:hover,
.header-menu ul li.active a {
    color: #4A2EF6;
    text-decoration: underline;
}

@media (max-width: 992px){
    .header-menu{
        justify-content: center;
        row-gap: 0;
    }
}

@media (max-width: 767px){
    .header-menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .header-menu ul{
        margin-top: 20px;
    }
}

/*=====================================================
    Banner Section
====================================================*/
.banner-section{
    margin-bottom: 20px;
}
.banner-section img {
    width: 100%;
}

/*=====================================================
    Main Content
====================================================*/

.main-content-wrap{
    display: grid;
    grid-template-columns: 224px 1fr;
    grid-gap: 25px;
}

.main-sidebar{
    background-color: #EEE0E0;
    display: inline-block;
    text-align: center;
    padding: 10px 20px 25px 20px;
}

.main-sidebar .sidebar-title{
    font-family: "Train One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.main-sidebar .sidebar-title span{
    display: block;
    margin-bottom: 30px;
}

.main-info{
    background-color: #EEE0E0;
    padding: 0 20px 0 0;
}

.main-info img{
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.main-info p{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding-left: 20px;
}

.main-info p:not(:last-of-type){
    margin-bottom: 20px;
}

.main-info p:nth-child(2){
    padding-top: 10px;
}

.main-info p:last-child{
    padding-bottom: 10px;
}

@media (max-width: 992px){
    .header-menu{
        justify-content: center;
        row-gap: 0;
    }
    
    .banner-section img{
        margin-top: 20px;
    }
}

@media (max-width: 767px){
    .main-content-wrap{
        grid-template-columns: 1fr;
    }
    
    .main-info{
        padding: 20px;
        text-align: center
    }
    
    .main-info img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }
    .main-info p{
        padding-left: 0;
    }
    
    .banner-section img{
        height: 100px;
        object-fit: cover;
        margin-top: 20px;
    }
}


/*=====================================================
    Footer Section
====================================================*/
.footer-section{
    background-color: #EEE0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    width: 100%;
}

.footer-section .logo{
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.footer-section p{
    font-family: "Jacques Francois", sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 500;
}

.footer-section .btn{
    font-family: "Jacques Francois", sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: inherit;
    transition: all 0.3s ease-in-out;
}

.footer-section .btn:hover{
    background-color: #000;
    color: #fff;
}


@media (max-width: 767px){
    .footer-section{
        justify-content: center;
        padding: 30px 0;
        column-gap: 20px;
    }
}


/*=====================================================
    Station Section
====================================================*/

.station-section{
    background-color: #EEE0E0;
    padding: 20px;
    margin-bottom: 40px;
}

.station-content{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

.station-content img{
    width: 100%;
}

.content h4{
    margin-bottom: 10px;
}

.content p{
    margin-bottom: 20px;
}

.station-content.content-2{
    display: block;
}

@media (max-width: 992px){
    .station-content{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px){
    .content{
        padding: 0;
        margin-top: 20px;
    }
}

.station-list-wrap h4{
    margin-bottom: 5px;
}

.station-list-wrap h4 span{
    font-weight: 400;
}

.station-list-wrap .station-list{
    padding-left: 20px;
    margin-bottom: 20px;
}

.station-section figure{
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}

.station-section figure figcaption{
    margin-top: 10px;
}

/*=====================================================
    Transport Section
====================================================*/

.transport-section{
    background-color: #EEE0E0;
    padding: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 350px;
    grid-gap: 70px;
}

.transport-section article .desc{
    margin-bottom: 20px;
}
.transport-section article span{
    display: block;
    margin-top: 10px;
}

.transport-section article .desc-2{
    margin-top: 20px;
}
.transport-section article .follow{
    margin: 30px 0;
}

.transport-section article ul{
    list-style: none;
}

.transport-section article ul li span{
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.transport-section article ul li:not(:last-of-type){
    margin-bottom: 20px;
}

.transport-section figure{
    text-align: center;
}

.transport-section figure img{
    margin-bottom: 10px;
}

.transport-section figure:not(:last-of-type){
    margin-bottom: 50px;
}

@media (max-width: 992px){
    .transport-section{
        grid-template-columns: 1fr;
    }
}