/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */ 
#logo1{
    margin-left: 300px;
}

.navbar{
    font-size: 24px;
}

#Home
{

    text-align: center;
    margin-top: -50px;
    margin-left: 2em;
}

#Spots
{

    text-align: center;
    margin-top: -50px;
    margin-left: 13em;
}

#Activities
{
    text-align: center;
    margin-top: -50px;
    margin-left: 25em;

}

#Transports
{
    text-align: center;
    margin-top: -50px;
    margin-left: 38em;
}

#Hotels
{
    text-align: center;
    margin-top: -50px;
    margin-left: 50em;
}

.skyline{
    display: flex;
    justify-content: center;
}

.SideStyle{
    width: 300px;
    height: 650px;
    background-color: #EEE0E0;
    margin-left: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



#amsterdam{
    text-align: center;
    margin-top: 30px;
}
#NiceMessage{
  
}
#windmill{
    text-align: center;
    top: 40px;
}